/* Roboto */

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Bold.ttf');
    font-weight: bold;
}


/* Open Sans */
@font-face {
    font-family: Open Sans;
    src: url('../fonts/OpenSans-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Open Sans;
    src: url('../fonts/OpenSans-Bold.ttf');
    font-weight: bold;
}