#intro {
    width: 70%;
    margin: 50px auto;
}

#notice {
    width: 150px;
}

.addButton {
    background-color: #3498d1;
    border: 2px solid #000;
    width: 150px;
    height: 30px;
    padding-top: 4px;
    margin-top: 10px;
    margin-bottom: 30px;
}

#addBookmark {
    text-decoration: none;
}

 /* unvisited link */
#addBookmark:link {
    color: #000;
}

/* visited link */
#addBookmark:visited {
    color: #000;
}

/* mouse over link */
#addBookmark:hover {
    color: #fff;
}

/* selected link */
#addBookmark:active {
    color: #fff;
} 

.innerText {
    width: 100%;
    text-align: left;
    margin: auto;
}

.column {
    width: 80%;
    margin: 70px auto;
}

.column h2 {
    text-align: left;
}

.pic {
    width: 100%;
    margin: auto;
    box-shadow: 0px 0px 4px 0px #222;
}

.main {
    font-family: Roboto;
}