* {
    box-sizing: border-box;
}

html {
    background: url('../images/pc_dark.jpg') no-repeat center fixed;
    background-color: #000000;
    background-size: 120vw;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 90%
}

.navi {
    position: sticky;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
    background: rgba(21, 21, 21, 0.9);
    color: #ffffff;
    top: 0px;
    margin: auto;
    z-index: 2;
    overflow: hidden;
}

.logo {
    position: relative;
    bottom: -4px;
    left: 20px;
    width: 150px;
    height: 75px;
}

.navi ul {
    position: absolute;
    top: -19px;
    right: 10px;
    font-family: Open Sans;
    list-style-type: none;
    padding-top: 23px;
    overflow: hidden;
}

.navi li {
    float: left;
}

.navi li a {
    display: block;
    padding: 9px 15px;
    text-align: center;
    text-decoration: none;
    color: #fdfdfd;
    transition-duration: 0.2s;
}

.navi li a:hover {
    background-color: #3498d1;
    color: #000000;
}

.top {
    height: 60vh;
    color: #fdfdfd;
}

.main {
    position: relative;
    top: 50px;
    width: 90vw;
    margin: auto;
    padding: 20px 0px;
    background: #dfdfdf;
    text-align: center;
}

.upper {
    width: 90%;
    margin: auto;
    margin-top: 19%;
    text-align: center;
}

.subtext {
    position: relative;
    top: 22%;
    padding-top: 2%;
    font-family: Roboto;
    text-align: center;
    margin: auto;
}

.learnMoreBtn {
    padding: 8px 20px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #fdfdfd;
    color: #fdfdfd;
    font: bold 11pt Open Sans;
    text-align: center;
    transition-duration: 0.4s;
}

.learnMoreBtn:hover {
    color: #000000;
    background-color: #3498d1;
    border: 2px solid #3498d1;
}

#spacer {
    position: relative;
    bottom: 10px;
    height: 10px;
}

.pic {
    width: 20%;
    display: block;
    margin: auto;
    box-shadow: 0px 0px 4px 0px #222;
    transition-duration: 0.2s;
}

.pic:hover {
    transform: scale(1.8);
    box-shadow: 0px 0px 6px 0px #222;
}

.innerTextLeft {
    width: 60%;
    text-align: left;
    float: right;
    margin: auto;
}

.innerTextRight {
    width: 60%;
    text-align: right;
    float: left;
    margin: auto;
}

.column {
    display: flex;
    width: 80%;
    margin: 30px auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.cta {
    text-align: center;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 20px;
    margin-top: 100px;
    padding-bottom: 100px;
}

.footer {
    position: relative;
    height: 100px;
    margin-top: 200px;
    color: #fdfdfd;
    font-family: Roboto;
    font-size: 9pt;
    text-align: center;
}

@keyframes fade-in {
    from {opacity: 0; transform: translateY(100px)}
    to {opacity: 1;}
}

.hidden {
    opacity: 0;
}
  
.fade-in-element {
  animation: fade-in 1s;
}

@media screen and (max-width: 1100px) {
    .upper {
        margin-top: 15%;
    }
}

@media screen and (max-width: 700px) {
    .column {
        width: 100%;
    }

    .top {
        margin: 20px auto;
        height: 40vh;
    }

    .learnMoreBtn {
        display: none;
    }

    .upper {
        font-size: 75%;
    }

    .upper h1 {
        font-size: 40px;
    }

    .navi {
        font-size: 100%;
    }

    .navi ul {
        top: -18px;
        font-size: 80%;
    }

    .navi li {
        float: left;
    }
    
    .navi li a {
        display: block;
        padding: 4px 5px;
        text-align: left;
    }

    .logo {
        width: 100px;
        height: 50px;
    }

    #hint {
        display: none;
    }

    .pic {
        display: none;
    }

    .innerTextLeft {
        width: 90%;
        text-align: left;
        float: right;
        margin: auto;
    }
    
    .innerTextRight {
        width: 90%;
        text-align: right;
        float: left;
        margin: auto;
    }

    .cta {
        font-size: 14px;
        margin-top: 100px;
        padding: 50px 20px;
    }
}