* {
    box-sizing: border-box;
}

html {
    background-color: #2b2b2b;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 90%
}

h1, h2, h3, h4, h5, h6 {
    font-family: Open Sans;
}

p {
    font-family: Roboto;
}

a {
    text-decoration: none;
}

 /* unvisited link */
a:link {
    text-decoration: none;
    color: #254459;
}

/* visited link */
a:visited {
    text-decoration: none;
    color: #254459;
}

/* mouse over link */
a:hover {
    text-decoration: none;
    color: #817968;
}

/* selected link */
a:active {
    text-decoration: none;
    color: #817968;
} 

.navi {
    position: sticky;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
    background: rgba(21, 21, 21, 0.9);
    color: #ffffff;
    top: 0px;
    margin: auto;
    z-index: 2;
    overflow: hidden;
}

.logo {
    position: relative;
    bottom: -4px;
    left: 20px;
    width: 150px;
    height: 75px;
}

.navi ul {
    position: absolute;
    top: -19px;
    right: 10px;
    font-family: Open Sans;
    list-style-type: none;
    padding-top: 23px;
    overflow: hidden;
}

.navi li {
    float: left;
}

.navi li a {
    display: block;
    padding: 9px 15px;
    text-align: center;
    text-decoration: none;
    color: #fdfdfd;
    transition-duration: 0.2s;
}

.navi li a:hover {
    background-color: #3498d1;
    color: #000000;
}

.top {
    height: 80px;
    margin-top: 80px;
    color: #fdfdfd;
}

.upper {
    width: 90%;
    margin: auto;
    text-align: center;
}

.main {
    width: 90vw;
    margin: 40px auto;
    padding: 20px 0px;
    background: #dfdfdf;
    text-align: center;
    font-family: Roboto;
}

.innerText {
    width: 70%;
    margin: auto;
    padding: 10px 10px;
    text-align: justify;
    line-height: 15pt;
}

#notice {
    width: 150px;
    padding: 20px;
}

.footer {
    position: relative;
    height: 100px;
    margin-top: 200px;
    color: #fdfdfd;
    font-family: Roboto;
    font-size: 9pt;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .logo {
        width: 100px;
        height: 50px;
    }
    
    .navi {
        font-size: 100%;
    }
    
    .navi ul {
        top: -18px;
        font-size: 80%;
    }
    
    .navi li {
        float: left;
    }
    
    .navi li a {
        display: block;
        padding: 4px 5px;
        text-align: left;
    }
    
    .upper {
        font-size: 75%;
    }

    .upper h1 {
        font-size: 40px;
    }

    #notice {
        width: 50%;
    }
    
    .innerText {
        width: 95%;
    }

}