h1, h2, h3, h4, h5, h6 {
    font-family: Open Sans;
}

p {
    font-family: Roboto;
}

.upper h1 {
    font-size: 50px;
}

.upper p {
    margin-top: -20px;
}

#hint {
    font-style: italic;
    font-size: 85%;
    color: #767676;
}

.column h2 {
    font-family: Open Sans;
}

.column p {
    font-family: Roboto;
    font-size: 10pt;
}